.banner-block {
    .banner-item {
        &:hover {
            .banner-img img {
                opacity: 0.9;
                transform: scale(1.07);
            }
        }
    }

    .banner-ads-item {
        img {
            transition: 0.5s;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.banner-top {
    &.style-four {

        .swiper-button-prev,
        .swiper-button-next {
            background-color: var(--black);
            color: var(--white);

            &::after {
                font-size: 16px;
            }
        }

        .swiper-button-prev {
            left: 0;
            justify-content: flex-start;
        }

        .swiper-button-next {
            right: 0;
            justify-content: flex-end;
        }

        @media (max-width: 640px) {

            .swiper-button-prev,
            .swiper-button-next {
                &::after {
                    font-size: 12px;
                }
            }
        }
    }

    &.bg-green {

        .swiper-button-prev,
        .swiper-button-next {
            background-color: var(--green);
            color: var(--black);
        }
    }
}

.tab-features-block .banner {
    &:hover {
        .heading4 {
            text-decoration: underline;
        }

        img {
            transform: scale(1.05);
        }
    }
}