.cart {
  padding: 20px;
  position: relative;
  background: white;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 80%;
  bottom: 0;
  transform: translateX(100%);
  transition: all 0.3s;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: grid;
  grid-template-rows: auto 1fr auto;
  // ${(props) => props.open && `transform: translateX(0);`};
  &.open {
    transform: translateX(0);
  }
  header {
    border-bottom: 5px solid var(--black);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  footer {
    border-top: 10px double var(--black);
    margin-top: 2rem;
    padding-top: 2rem;
    /* display: grid;
    grid-template-columns: auto auto; */
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    p {
      margin: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: scroll;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  
  .cartItems {
    padding: 1rem 0;
    border-bottom: 1px solid var(--lightGrey);
    display: grid;
    grid-template-columns: auto 1fr auto;
    img {
      margin-right: 1rem;
    }
    h3,
    p {
      margin: 0;
    }
    .removeButton {
      font-size: 3rem;
      background: none;
      border: 0;
      &:hover {
        color: var(--red);
        cursor: pointer;
      }
    }
  }
  
  .supreme {
    background: var(--red);
    color: white;
    display: inline-block;
    padding: 4px 5px;
    transform: skew(-3deg);
    margin: 0;
    font-size: 2rem;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }
  
  .closeButton {
    background: black;
    color: white;
    font-size: 3rem;
    border: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    width: 7%;
  }
}
