.signInPage {
  .forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: var(--maxWidth);
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      min-height: 300px;
      padding: 10px 25px;
      gap: 8%
    }
  }
}